{% extends 'home.html' %}


{% block where %}
<li>add result</li>
{% endblock %}

{% block content-title %}
<h3>import RESULT</h3>
{% endblock %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
       <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>EXCEL DATA UPLOAD</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-8 col-sm-12 col-xs-12 form-group">

                    </div>
                    <input type="file" name="myfile" class="form-control">
                        <button type="submit" class="btn btn-success"> upload</button>
                        <br>
                </div>
            </div>
        </div>
       </div>

    </form>
    {% endblock %}
