{% extends 'home.html' %}


{% block where %}
<li>view scheme book</li>
{% endblock %}

{% block content-title %}
<h3>VIEW SCHEME BOOKS</h3>
{% endblock %}


{% block content %}

{% if a %}
<button style="background-color:#149ddd;">
    <a href="{% url 'add_main_scheme' %}" style="color: white;">add main scheme</a>
</button>

{% endif %}
<hr>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ myfilter.form }}
        <button type="submit">search</button>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-responsive table-borderless">
        <table>
            <tr>
        <th scope="col" width="10%">scheme name</th>
        <th scope="col" width="10%">subject</th>
        <th scope="col" width="10%">teacher</th>
        <th scope="col" width="10%">view scheme details</th>
        {% if a %}
        <th scope="col" width="10%">remove</th>
        {% endif %}
    </tr>
    {% for obj in obj %}
    <tr>
        <td>{{ obj.scheme_name }}</td>
        <td>{{  obj.subject_id }}</td>
        <td>{{  obj.teacher }}</td>
        <td><button style="background-color: green;"><a href="{% url 'view_scheme' pk_test=obj.scheme_name %}" style="color: white;">view</a></button></td>
        {% if a %}
        <td><button style="background-color: red;">
            <a href="{% url 'remove_main_scheme' pk_test=obj.scheme_name %}" onclick="return confirm('are you sure you want to delete this scheme?')" style="color: white;">remove</a></button></td>
        {% endif %}
    {% endfor %}
    </tr>
   </table> 
          
</div>
                
</div>


{% endblock %}