{% extends 'home.html' %}


{% block where %}
<li>view main journals</li>
{% endblock %}

{% block content-title %}
<h3>VIEW MAIN JOURNALS</h3>
{% endblock %}


{% block content %}

{% if a %}
<div>
    <button style="background-color:#149ddd;">
<a href="{% url 'add_sjourn' %}" style="color: white;">add main journal</a>
</button>
</div>
{% endif %}
<hr>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ myfilter.form }}
        <button type="submit">search</button>
    </form>
</div>

<div class="table-responsive">
    <table class="table table-responsive table-borderless">
        <table>
            <tr>
          <th scope="col" width="10%">journal name</th>
          <th scope="col" width="10%">class</th>
          <th scope="col" width="10%">teacher</th>
          <th scope="col" width="10%">view details</th>
          {% if a %}
          <th scope="col" width="10%">delete</th>
          {% endif %}
         </tr>
          {% for journ in obj %}
       <tr>
               <td>
                  {{ journ.journal_name }}
               </td>
               <td>
                   {{ journ.class_id }}
               </td>
               <td>
                {{ journ.class_teacher }}
               </td>
               <td>
                <button style="background-color: green;"><a href="{% url 'view_rjourn' pk_test=journ.journal_name %}" style="color: white;">view</a></button>
               </td>
               {% if a %}
               
               <td>
                   <button style="background-color: red;"><a href="{% url 'remove_sjourn' pk_test=journ.journal_name %}" onclick="return confirm('delete journal!')" style="color: white;">delete</a></button>
               </td>
               {% endif %}
           {% endfor %}
       </tr>
      </table>
         
    </div>
    <br/>
        <div>
            <button style="background-color: #149ddd;">
                <a href="{% url 'add_journal' %}" style="color: white;">add today journal</a> 
            </button>
        </div>        
</div>


{% endblock %}