{% extends 'home.html' %}

{% block where %}
<li>class details</li>
{% endblock %}

{% block content-title %}
    <h3>CLASS:{{ data.class_id }} details </h3>
{% endblock %}


{% block content %}
                      {% if a %}
                      <button style="background-color: #149ddd;">
                        <a href="{% url 'view_cstudent' pk_test=data.class_id  %}" style="color: white;">manage student</a>
                      </button>
                    
                      {% endif %}
                <div class="table-responsive">
                <table class="table table-responsive table-borderless">
                  <table>
                  <thead>
                    <tr class="bg-light">
                      <th scope="col" width="20%">STUDENT ID</th>
                      <th scope="col" width="20%">STUDENT DETAILS</th>
                     
                      
                    </tr>
                  </thead>
              <tbody>
                {% for b in wanafunzi %}
                <tr>
                    <td>{{ b.student_id }}</td> 
                    <td><button><a href="{% url 'student_details' pk_test=b.student_id %}">view</a></button></td>
                   
                </tr>
            {% endfor %}
              
              </tbody>
            </table>
              
              </div>
                
            </div>


{% endblock %}