{% extends 'home.html' %}

{% block where %}
<li>view classes and student</li>
{% endblock %}

{% block content-title %}
<h3>VIEW STUDENTS AND THEIR CLASSES</h3>
{% endblock %}

{% block content %}


                    
              
                <div class="table-responsive">
                <table class="table table-responsive table-borderless">
                  <table>
                  <thead>
                    <tr class="bg-light">
                      <th scope="col" width="10%">STUDENT</th>
                      <th scope="col" width="10%">CLASS</th>
                      
                      {% if a %}
                      <th scope="col" width="10%">REMOVE STUDENT</th>
                      {% endif %}
                    </tr>
                  </thead>
              <tbody>
                {%  for x in cl %}
                <tr>
                    <td>{{ x.student_id }}</td>
                    <td>{{ x.class_id }}</td>
                    {% if a %}
                    <td><a href="{% url 'remove_cstudent'  pk_test=x.id %}">remove</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
              
              </tbody>
            </table>
              </div>
                
            </div>


{% endblock %}
